<% include ../partials/header %> 
	<div class="container">
	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
	<% var flag=0;%>
		<% campgrounds.forEach(function(campgrounds){%>
			<%var camp_name= campgrounds.name; %>
			<% var check = camp_name.search(search) +1;%>
			<%  if(check){ %>
			<% flag=1 ;%>
			<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="<%= campgrounds.image %>">
						<div class="caption">
							<h4><%= campgrounds.name %></h4>
						</div>
						<p>
							<a href="/campgrounds/<%= campgrounds.id %>" class="btn btn-primary">More Info</a>
						</p>
					</div>
			</div>
		<%}%>
		<% }); %>
		<% if(flag==0){%>
	<h2>No Results found !</h2>
	<%}%>
	</div>
	
	</div>


<% include ../partials/footer %> 